<div class="feeditem">
  <div class="pull-right ">{{formatDate item.published}}</div>
  <h3><a href="{{item.link}}" target="blank">{{item.title}}</a></h3>
  <div class="subtitle">
    from <a href="#/feed/{{item.feed_id}}">{{item.feed_title}}</a>
  </div>
  <div class="content">
    {{{item.description}}}
  </div>
</div>
